body {
    margin: 0;
    padding: 0;
    background-color: rgb(36, 35, 35);
    position: relative;
}

.main {
    display: flex;
}
.attempts{
    margin-top: 20px;
    margin-right: auto;
}

.container {
    width: 250px;
    height: 460px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 20px;
}
.container2 {
    margin-top: 20px;
    min-width: 440px;
    height: 440px;
    padding: 10px;
}

.opacity {
    transition: ease-in 0.5s;
}

.card {
    display:inline-block;
    margin: 5px;
    width: 100px;
    height: 100px;
    box-shadow: black 1px 4px 5px;
    border-radius: 5%;
}

p{
    margin: 10px;
    color:rgb(231, 254, 255);
    font-size: 24px;
    font-family: monospace;
    text-align: center;
}

.button {
    display: block;
    width: 140px;
    height: 50px;
    background-color: rgb(59, 200, 255);
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    font-size: 20px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
}

.play {
    margin-top: 40px;
}

.easy {
    margin-top: 30px;
    background-color: rgb(154, 228, 5);
}

.hard {
    background-color: rgb(255, 31, 31);
}

.insane {
    background-color: rgb(255, 0, 255);
}

.pressed {
    box-shadow: rgb(251, 255, 1)  0px 0px 10px;
    color: rgb(73, 73, 73);
}

.hidden {
    display: none;
}